@charset "utf-8";

/* CSS Document */
/* Start of General CSS*/
html{
	height:100%;
	margin:0;
	padding: 0;
}

body{
	width:100%;
	height:100%;
	margin:0;
	margin-bottom:50px;
}
.wrap {
	min-height:100%;
	height: auto;
	margin: 0 auto -50px;
}
.content{
	min-height:100%;
}
#maincontent {
	background-color: #FFF;
	float: center;
	text-align: left;
	background: rgba(255,255,255,0.7);
	font-weight: normal;
	
}

/*Start of picture CSS*/


#bgpic {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: -100;
	left: 0px;
	top: 0px;
	min-height: 100%;
	min-width: 500px;
}

#logo2 {
	width: 30px;
	height: 30px;
}
#banner {
	width: 100%;
	height: 350px;
	min-width: 600px;
}

/*End of picture CSS*/
/*Start of footer CSS*/

#Footer {
	width:100%;
	height:50px;
	position:relative;
	bottom:0;
	background-color: #939090;
	color:#ffffff;
	left:0;
	right:0;
	margin-top:5%;
	padding-top:1em;
	padding-bottom:1em;
	overflow:hidden;
}

.footermiddle {
	text-align:left;
	margin-left:13%;
	position:relative;
	float:left;
	bottom:4px;
}

.footerright {
	text-align:left;
	margin-left:10%;
	position:relative;
	float:right;
	right:10%;
	top:-5px;
}
 /*footer table*/
#table1 {		
	text-align:center;
	width:22em;
	position:relative;
	top:1px;
	font-family: 'Arvo', serif;
	font-size:20px;
	FONT-WEIGHT:bold;
}

#table1 td {
	text-align:center;
	width:50px;
}
/* CSS for footer logo*/
.imagelogo {				 
	float:left;
	left:10%;
	position:relative;
	padding-bottom: 20px;
}
/*End of footer CSS*/

/*Start of index CSS*/

.grandOpening {
	text-align: center;
	padding-left: 15px;
	margin-top: 10px;
}

.GrandOpeningText {
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
	font-weight: 900;
	color: #000000;
	text-align: center;
}
.indexHeading {
	font-family: "Kool Beans";
	font-size: 56px;
	color:#039;
	font-weight: 900;
	text-align: center;
	margin:30px;
	margin-bottom: 35px;
}
.table_text {
	text-align: left;
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	font-weight: bold;
}